@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Test for Software developer</h1> 
 </div>
 

<div class="panel panel-default">
    <div class="panel-heading">Leave Tracking</div>
    <div class="panel-body">
        <p>This Application is required to have the following functionality</p>
        <ol>
            <li>A page where employee records are created. The employee should have the following fields:</li>
            <ol>
                <li>First name</li>
                <li>Last name</li>
                <li>Department</li>
            </ol>
            <li>A page where a new leave request is made. The data to be recorded are</li>
            <ol>
                <li>The employee</li>
                <li>Start date of the leave</li>
                <li>End date of the leave</li>
            </ol>
            <li>A page where all leave requests can be viewed in a list</li>
            <li>The following rules should be applied when making a leave request</li>
            <ol>
                <li>An employee should not have multiple leave request whose dates overlap</li>
                <li>An employee should not be allowed to make a leave request that overlaps with another employee of the same department</li>
                <li>An employee should not be allowed to make a leave request if the end of their previous leave request is less than one month.</li>
            </ol>
        </ol>

    </div>
</div>